<html>
  <body>
    <div class="container">
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
      <div class="item">
        <app-chart></app-chart>
      </div>
    </div>
  </body>
</html>
