<!-- <div class="container"> -->
<!--   <app-chart -->
<!--     *ngFor="let item of items; let evn = even" -->
<!--     [ngClass]="{ even: evn }" -->
<!--   ></app-chart> -->
<!-- </div> -->

<div
  style="width:100%;display:flex;flex-direction:column;justify-content:space-between"
>
  <div
    style="position:absolute;height:200px;width:50%;overflow:hidden;display:flex;flex-direction:column;"
  >
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
  </div>

  <div
    style="position:absolute;height:200px;width:50%;overflow:hidden;display:flex;flex-direction:column;"
  >
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
  </div>
</div>
