.container {
  display: grid;
  /* width: 100vw; */
  /* height: 100vh; */
  justify-content: center;
  align-content: center;
  /* grid-template-columns: repeat(5, 20vmin); */
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
}
.wrapper {
  height: 100%;
}
.container2 {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 1fr;
  grid-template-rows: 10vh 100px 20vh 200px;
}
.even {
  background: #48304d;
}

.odd {
  background: #11f213;
}
