.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(100px, 2fr) 100px minmax(100px, 3fr) 50px 1fr;
  grid-template-rows: 50vh 20vh 10vh 5vh 10vh;
}

.container2 {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 1fr;
  grid-template-rows: 10vh 100px 20vh 200px;
}
.even {
  background: #48304d;
}

.odd {
  background: #11f213;
}
