.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 300px auto 200px auto 1fr;
  grid-template-rows: 10vh 20vh 10vh 20vh 10vh;
}

.even {
  background: #48304d;
}

.odd {
  background: #11F213;
}
