<!-- <div class="container"> -->
<!--   <app-chart -->
<!--     *ngFor="let item of items; let evn = even" -->
<!--     [ngClass]="{ even: evn }" -->
<!--   ></app-chart> -->
<!-- </div> -->

<div
  style="display:flex;flex-direction:column;justify-content:space-between;overflow:hidden;height:100vh"
>
  <div
    style="position:relative;height:20vh;width:50%;overflow:hidden;display:flex;flex-direction:column;"
  >
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
  </div>
  <div
    style="position:relative;height:20vh;width:50%;overflow:hidden;display:flex;flex-direction:column;"
  >
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
  </div>

  <div
    style="position:relative;height:20vh;width:50%;overflow:hidden;display:flex;flex-direction:column;"
  >
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
    <app-chart></app-chart>
  </div>
</div>
